<%- include templates/header.ejs %>
        <div class="content">
            <div class="container-fluid">
                <!-- PUT CONTENT HERE -->
            </div>
        </div>
<%- include templates/footer.ejs %>
</html>
